.bordas-tabela {
    border-style: solid;
}

#bordas-tabela{
    border-style: solid;
}

.botao_coletar {
    display: inline;
}

.tamanho_campo_principal {
    width: 40px;
}
.coletor {
    border-style: solid;
}