.bordas-tabela {
    border-style: solid;
}

#bordas-tabela{
    border-style: solid;
}

.botao_coletar {
    display: inline-table;
}

.tamanho_campo_principal {
    width: 40px;
}

#tabelas {
    display: none;
}

#input_coletor {
    max-width: 10rem;
}

.ajuste_campo {
    margin-left: 1rem;
}
h1{
    font-family: 'Bebas Neue', cursive;
}

p {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}